<!DOCTYPE html>
<html>
    <head>
        <title>Reset password</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/indexStyle.css">
        <link rel="stylesheet" href="css/marketStyle.css">
        <link rel="stylesheet" href="css/loginStyle.css">
        <script src="js/resetPasswordScript.js"></script>
        
        <style>
            body{
                background-image: url("images/background-4.jpg");
                background-size: cover;
            }
        </style>
        
    </head>
    <body>
    
    <div class="layer">
        <div class = "menu">
            <a class = "menu-item-title" th:href="@{/index.html}">Visualized Analytics</a>
            <a class = "menu-item nav-item nav-margin" th:href="@{/index.html}">Home <font color=black>/</font></a>
            <a class = "menu-item nav-item" th:href="@{/login}">Login <font color=black>/</font></a>
            <a class = "menu-item nav-item" th:href="@{/reset_password}">Reset password</a>
            <a class = "menu-item item2" th:href="@{/login}">Login</a>
            <a class = "menu-item item3" href="subscribe.html">Subscribe</a>
        </div>
        
        <div th:if="${param.linksent}">
            <div class="reset-message">Reset password link has been send to your email address!</div>
        </div>
        
        <div th:if="${param.error}">
            <div class="log-error">Please enter a valid email address..</div>
        </div>
        
        <div th:if="${param.error2}">
            <div class="log-error">Please enter your email address to continue..</div>
        </div>

        <div class="form">
            <!-- <form th:action="@{/reset_password}" method="post"> -->
            <div>
                <h3>Reset Password</h3>
                <hr>
                <div class="form-items">
                    <label>Email: </label>
                    <input class="reset-email" id="email" type="email" placeholder="Enter your email" required>
                    <br>
                    <!-- <input class="login-btn" type="submit" value="Send password reset link"> -->
                    <!-- <button class="login-btn" onclick="window.location.href('google.com')"> submit</button> -->
                    <a class="reset-btn2" href="javascript:emailValidator()"> Send password reset link </a>
                </div>
            </div>
        </div>
	</div>
    </body>
</html>