<!DOCTYPE html>
<html>
    <head>
        <title>Stocks</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/marketStyle.css">
        <link rel="stylesheet" href="css/indexStyle.css">
        <link rel="stylesheet" href="css/stocksStyle.css">
        
        <style>
            body{
            background-image: url("images/background-6.jpg");
            background-size: cover;
            }
            .side-bar{
            background-image: url("images/background-6.jpg");
            background-size: cover;
            }
        </style>
        
    </head>
    <body>
        <div>

            <div class = "menu">
                <a class = "menu-item-title" th:href="@{/index}">Visualized Analytics</a>
                <a class = "menu-item nav-item nav-margin" href="/index">Home <font color=black>/</font></a>
                <a class = "menu-item nav-item" th:href="@{/userhome}">User Home – Markets <font color=black>/</font></a>
                <a class = "menu-item nav-item" th:href="@{/stocks}">Stocks</a>
                <a class = "menu-item item2 logout" style="color: red;" th:href="@{/logout}">Logout</a>
            	<a class = "menu-item item2 logout" style="color: blue;" th:href="@{/userinfo}"><span sec:authentication="name"></span> <font color = black;> |</font></a>
            </div>

            <ul class="side-bar">
            <div class="layer">
                <li><a class="active main-heading">Stocks</a></li>
                <li><a class="sub-heading" th:href="@{/analytics}">Apple (AAPL)</a></li>
                <li><a class="sub-heading" href="notAvailable.html">Amazon (AMZN)</a></li>
                <li><a class="sub-heading" href="notAvailable.html">Alibaba Group (BABA)</a></li>
                <li><a class="sub-heading" href="notAvailable.html">Facebook (FB)</a></li>
                <li><a class="sub-heading" href="notAvailable.html">Alphabet (GOOGL)</a></li>
                <li><a class="sub-heading" href="notAvailable.html">IBM (IBM)</a></li>
                <li><a class="sub-heading" href="notAvailable.html">Mastercard (MA)</a></li>
                <li><a class="sub-heading" href="notAvailable.html">Microsoft (MSFT)</a></li>
                <li><a class="sub-heading" href="notAvailable.html">Netflix (NFLX)</a></li>
                <li><a class="sub-heading" href="notAvailable.html">PayPal (PYPL)</a></li>
                <li><a class="sub-heading" href="notAvailable.html">Visa (V)</a></li>
                <li><a class="sub-heading" href="notAvailable.html">Walmart (WMT)</a></li>
              </div>
              </ul>

			<div class="message1">
                    Thank you for subscribing to our service <span sec:authentication="name"></span>! 
                    <br>
                    Here you will see all the latest information.
             </div>

            <div class = "MarketImages" >
                <img class = "image" src="images/apple-logo-2.png">
            </div>
            <div class = "MarketTxt">
                <a class="MarketBtn" th:href="@{/analytics}">AAPL</a>
            </div>
        </div>
    </body>
</html>